.signUp-popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding-top: 30px;

    height: 425px;
    width: 400px;
    
    background: white;
    box-shadow: -6px 6px 8px -2px rgba(0,0,0,0.20);
    border-radius: 5px;
}

.signUp-popup > button {
    position: absolute;
    height: 30px!important;
    width: 30px!important;
    top: 10px;
    left: 350px;

    font-weight: 500;

    border-radius: 50px;
}

.blur-layout {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.70);
    z-index: 100;
}

.signUp-form h2 {
    font-size: 24px;
    text-align: center;
    padding-bottom: 45px;
}

.signUp-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.signUp-form button  {
    width: 90%;
}

.signUp-form .formInput {
    width: 95%;
}

.signUp-form .formInput input {
    width: 95%;
    font-size: 18px;
}

.signUp-form input::placeholder {
    font-size: 18px;
}

.signUp-popup .login-alert {
    top: 440px!important;
}

@media screen and (max-width: 460px) {
    .signUp-popup {
        width: 100%;
    }

    .signUp-popup > button {
        left: clamp(190px,79vw,387px);
    }
}

